/* IMPORT ALL THE CSS */
@import "variables.css";
@import "structure.css";
@import "century.css";
@import "countdown.css";
@import "images.css";
@import "popup.css";
@import "spotify.css";

/* Reset de base pour les marges et le padding */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
}


body {
  background-color: #FFA7A7; 
  overflow-x: scroll;
  overflow-y: hidden; 
} */

.horizontal-scroll-container {
  display: flex; /* Utilisation de Flexbox pour aligner horizontalement */
  height: 100%;
  width: max-content; /* Assure que le conteneur s'étend à la largeur de tous ses enfants */
}

.content-item {
  flex: 0 0 auto; /* Empêche les éléments de rétrécir ou de grandir */
  width: 100vw; /* Chaque élément a la largeur de la fenêtre */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Ajouter des couleurs de fond différentes pour chaque élément si désiré */
}

.popup {
  display: none;
}
.icon:hover + .popup {
  display: block;
}

/* .parent {
  display: flex;
  flex-direction: row;
  background-color: coral;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.c {
  overflow: hidden;
  border: 1px solid black;
  width: 200px;
  height: 200px;
} */

.tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: 120px;
  height: auto;
  font-size: 15px;
  font-family: "Jost";
  color: white;
  overflow-y: hidden;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  text-align: center;
  cursor: default;
}

#chart1 {
  padding-top: 50px;
  padding-right: 150px;
}
#chart2 {
  padding-top: 50px;
}

#chart1,
#chart2,
#chart3,
#chart4 {
  overflow-y: hidden;
}

text {
  /* fill: #262043; */
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.legend {
  font-family: "Jost", sans-serif;
}

.bar-men,
.bar-women {
  transition: all 0.3s ease-out;
}

.bar-men:hover,
.bar-women:hover {
  fill-opacity: 0.7;
  cursor: pointer;
}

.text {
  font-size: 12px;
  fill: #262043;
}

.map {
  fill: #ffbac9;
}

.mapTitle {
  padding-top: 50px;
  padding-bottom: 20px;
}

.hide {
  background-color: #e4004cac;
  border-radius: px;
  position: absolute;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 15px;
  font-family: Jost;
  color: white;
  width: 400px; /* Nouvelle largeur du popup */
  height: auto;
  display: none;
}

.italie-txt {
  top: 30%;
  left: 50%;
  pointer-events: none;
}

.philippines-txt {
  top: 40%;
  left: 42%;
  pointer-events: none;
}

.argentine-txt {
  top: 38%;
  left: 31%;
  pointer-events: none;
}

.mexique-txt {
  top: 45%;
  left: 5%;
  pointer-events: none;
}

.danemark-txt {
  top: 32%;
  left: 45%;
  pointer-events: none;
}

.afriqueSud-txt {
  top: 40%;
  left: 30%;
  pointer-events: none;
}

.inde-txt {
  top: 46%;
  left: 45%;
  pointer-events: none;
}

.japon-txt {
  top: 14%;
  left: 50%;
  pointer-events: none;
}

.suede-txt {
  top: 28%;
  left: 40%;
  pointer-events: none;
}

.finlande-txt {
  top: 25%;
  left: 40%;
  pointer-events: none;
}

.ethiopie-txt {
  top: 28%;
  left: 32%;
  pointer-events: none;
}

.bresil-txt {
  top: 40%;
  left: 35%;
  pointer-events: none;
}

.coreeSud-txt {
  top: 10%;
  left: 45%;
  pointer-events: none;
}

.france-txt {
  top: 20%;
  left: 15%;
  pointer-events: none;
}
