:root {
  /*COLORS*/
  --blue: #5c98ba;
  --darkpurple: #676091;
  --lighterpurple: #ab529d;
  --hotpink: #ff4895;
  --red: #e4004d;
  --darksalmon: #df7272;
  --salmon: #ffa7a7;
  --offwhite: #fff;
}
